<div class="services container-fluid">
  <div class="container">
      <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>Our Services see how <br> they can help you .</h1>
      <p>find the ideal candidaares by augmenting visibility.<br>in a nutshell here is what we do </p>
     <ul class="service-list">
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  Application Support</li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  GAP analysis </li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  Application Support</li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  GAP analysis </li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  Application Support</li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  GAP analysis </li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  Application Support</li>
      <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;  GAP analysis </li>
     </ul>
<button class="btn btn-lg">Learn More &nbsp; <i class="fa fa-graduation-cap" aria-hidden="true"></i>
</button>
    </div>
    <div class="col-xs-12 col-md-6">
       <img src="../../assets/images/servicesUI.jpg" alt="" srcset="">

    </div>
  </div>
</div>

</div>

