<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="../../assets/images/Logo.png" alt="" srcset="">
        <p>IntilliTask is glad to have you on board . please don't hesitate to contact us </p>
        <br>
        <p>Get in touch with us</p>
        <h4 class="primary-color"> (628) 230-1492 &nbsp; <i class="fa fa-headphones" aria-hidden="true"></i>
        </h4>
      </div>
      <div class="col-3">
        <h4>Contact</h4>
        <p>
          IntelliTask,LLC 2300 Valley View Ln,<br>
          Suite#1010,Irvingm,Tx 75062
        </p>
      </div>
      <div class="col-2">
        <h4>Service</h4>
        <p>Home</p>
        <p>About Us </p>
        <p>Service</p>
        <p>Blog</p>
      </div>
      <div class="col-2">
        <h4>Company</h4>
        <p>Home</p>
        <p>About Us </p>
        <p>Service</p>
        <p>Blog</p>
      </div>
      <div class="col-2">
 <h4>Support</h4>
 <p>If you have a Genaral enquiry ,please drop us Email </p>
 <p>Email : <span class="contact-mail"> contact@intillitaskllc.com  </span></p>
      </div>
    </div>
    <hr>
<div class="row footer-btm">
  <div class="col-6">copyright @2023 IntilliTask. Designed & Developed by <strong>IntilliTask.</strong>  </div>
  <div class="col-6 text-end"><p>Services | Help FAQs | Careers</p></div>
</div>

  </div>
</div>
