<div class="container-fluid slider">
  <div class="container "></div>
<h4>WELCOME INTELLI<strong>TASKS</strong> </h4>
<h1><strong> Say ‘Hello’ to the INTELLITASK
  <br>profitability of your bysiness <br>
   through your workforce . </strong></h1>
<p>
  History provides perspective ,Future inspires opportunity. <br>
We Empower Companies to thrive in a Digital Economy </p>

<button class="btn btn-lg btn-custome">Conatact Us &nbsp;
  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
</button>
</div>

