.contactus{
  // background: #ccc3;
  background: #F7F7F7;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 2px 4px 0 rgba(144, 98, 201, 0.415);
  h1{
    color:#d83030
    }

  .btn-custome{
    text-align: left;
    background-color: #d83030;
    color:#fff;
    margin-top: 20px;



  }
  textarea{
    width: 100%;
  }
.text-left{
  text-align: right;
}
img{
  width: 100%;
}
}
