<div class="contactus">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <img src="../../assets/images/contact.JPG" alt="" srcset="">
      </div>
      <div class="col-sm-12 col-xs-12 col-md-7">
        <h1>
          Start Your Journey With US <br> Today </h1>
        <p> To get in touch with us with your unique requirments please fill out the <br>form below or send us an email</p>
        <form>
          <div class="row mb-3">
            <div class="col-6">
              <input type="text" class="form-control" id="name" name="name" required placeholder="Full Name ">

            </div>
            <div class="col-6">
                 <input type="email" class="form-control" id="email" name="email" required placeholder="Email ">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <input type="tel" class="form-control" id="phone" name="phone" required placeholder="Phone Number">

            </div>
            <div class="col-6">
              <input type="text" class="form-control" id="subject" name="subject" required placeholder="Subject">
            </div>
          </div>

          <div class="mb-3">
          </div>
          <textarea name="" id=""  rows="5" placeholder="Tell Us More"></textarea>
<div class="text-left">          <button type="submit" class="btn btn-lg btn-custome">Submit &nbsp; <i class="fa fa-share" aria-hidden="true"></i>
</button>
</div>

        </form>



      </div>
    </div>
  </div>

</div>
